# Habilitar el módulo de reescritura
RewriteEngine On

# Redireccionar todas las solicitudes al index.html
RewriteBase /
RewriteRule ^index\.html$ - [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . /index.html [L]

# Configurar tipos MIME
AddType application/javascript .js .mjs
AddType image/x-icon .ico
AddType image/svg+xml .svg

# Caché y compresión
<IfModule mod_expires.c>
  ExpiresActive On
  ExpiresDefault "access plus 1 month"
  ExpiresByType application/javascript "access plus 1 year"
  ExpiresByType image/x-icon "access plus 1 year"
  ExpiresByType image/svg+xml "access plus 1 year"
</IfModule>

<IfModule mod_deflate.c>
  AddOutputFilterByType DEFLATE text/html text/plain text/css application/javascript image/svg+xml
</IfModule>

# Acceso a archivos
<Files ~ "\.ico$">
  Require all granted
</Files>
